:root {
  --primary-bg-color: #95b593;
  --accent1: #3e3c72;
  --text-color: #ffeeee;
  --main-bg-color: #333;
  --main-text-color: #fff;
  --main-btn-bg-color: #817a7a;
  --progress-color: #787878;
  --faded-text: #b9b9b9;
}

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather", serif;
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.402);
}

.main-content {
  width: 60vw;
  flex-grow: 1;
  margin: 30px;
  align-self: center;
}

.sidebar {
  width: 25vw;
  max-width: 300px;
  background-color: rgba(245, 250, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 30px 20px 30px 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  align-content: center;
  align-self: center;
}

.sidebar-content {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#last-sidebar {
  border-bottom: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

header,
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  width: 100%;
  padding: 10px 50px;
}

footer {
  padding: 10px 0;
  text-align: center;
}

nav {
  margin-top: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

li {
  padding-left: 10px;
  margin-left: 10px;
}

.media-player {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 20px;
}

.media-player video {
  max-width: 100%;
}

.custom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
}

.custom-controls button {
  background-color: var(--main-btn-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.progress-bar {
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
  height: 3.5px;
  background-color: var(--progress-color);
  margin-top: 10px;
  overflow: hidden;
  border-radius: 4.5px;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: var(--text-color);
  width: 0;
  transition: width 0.3s ease;
  border-top-right-radius: 4.5px;
  border-bottom-right-radius: 4.5px;
}

.overlay {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  filter: drop-shadow(0 0 0.5rem var(--accent1));
}

.overlay:hover {
  cursor: pointer;
}

#play-pause-btn {
  transform: translate(-50%, -50%);
  left: 50%;
}

#lasttrack {
  transform: translate(0%, -50%);
  left: -8vw;
}

#nexttrack {
  transform: translate(0%, -50%);
  right: -8vw;
}

.skip-img {
  width: 60px;
}

.skip-img,
#play-pause-img,
.under-icon {
  scale: 96%;
  filter: brightness(90%);
  transition: scale 0.1s;
}

.skip-img:hover,
#play-pause-img:hover,
.under-icon:hover {
  scale: 100%;
  filter: brightness(100%);
}

.skip-img:active,
#play-pause-img:active,
.under-icon:active {
  scale: 96%;
  filter: brightness(70%);
}

.alb-art-container {
  position: relative;
}

.media-player {
  width: 45vw;
  max-width: 300px;
}

#album-bg {
  width: 30vw;
  max-width: 300px;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-size: 24px;
}

.track-details {
  margin: 10px;
  margin-top: 30px;
}

#heart {
  margin-left: 15px;
}

.side-by-side {
  display: flex;
  justify-content: space-between;
}

.bg-vid {
  object-fit: cover;
  filter: invert(100%);
  z-index: -1;
  width: 100vw;
  height: 100vh;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.add-content {
  margin: 30px;
}

.duration {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  font-size: 11px;
}

#author {
  color: var(--faded-text);
}

.under-icons-line {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.under-icons-group-1 {
  display: flex;
  flex-grow: 1;
}

.under-icon {
  padding-right: 10px;
}

#shuffle {
  padding-left: 10px;
}

#volume {
  justify-self: flex-end;
}

#heart {
  align-self: center;
  stroke: rgb(140, 140, 140);
}

#heart:hover {
  stroke: rgb(255, 255, 255);
}
