body {
  font-size: 1.1rem;
  margin: 25px;
  background-color: rgb(87, 136, 128);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
.bg {
  background-color: black;
  border: solid black;
  border-radius: 17.5px;
  display: grid;
  gap: 0.02rem;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 5fr));
}
div,
details {
  margin: 2px;
  min-width: 300px;
}
.white {
  background-color: white;
  border-radius: 15px;
}
#head1 {
  grid-column: 1/4;
}
#head2 {
  grid-column: 4/5;
  text-align: center;
}
.offwhite {
  background-color: rgb(241, 229, 213);
  border-radius: 15px;
}
h1 {
  font-size: 2rem;
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
  margin: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.tophalf {
  padding: 30px;
  margin: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  min-height: 150px;
}
.bottomhalf {
  padding: 30px;
  margin: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgba(133, 186, 255, 0.3);
}
ol,
ul {
  padding-left: 35px;
}
